{% comment %}

08/07/2021, Experiment using 'django-filter' for the first time...

Form styles (quickly) copied from *Default Form* (to create a default inline form):
https://purecss.io/forms/

{% endcomment %}
<form action="." {% if form_id %}id="{{ form_id }}"{% endif %} method="GET" class="pure-form{% if form_class %} {{ form_class }}{% endif %}">
  {% if form.non_field_errors %}
    {{ form.non_field_errors }}
  {% endif %}
  <fieldset>
    {% if legend %}
      <legend>{{ legend }}</legend>
    {% endif %}
    {% if help_text %}
      {{ help_text }}
    {% endif %}
    {% for field in form.visible_fields %}
      {% if field.label %}
        <strong>
          <label for='{{ field.id_for_label }}'>
            {{ field.label }}
          </label>
        </strong>
      {% endif %}
      {{ field }}
    {% endfor %}
    <div class="pure-u-1 pure-u-md-1-2" >
      <input id="id_search_button" type="submit" value="Search" class="pure-button pure-button-primary right-spaced" />
    </div>
  </fieldset>
  {% for hidden in form.hidden_fields %}
    {{ hidden }}
  {% endfor %}
  {% if next %}
    <input type="hidden" name="next" value="{{ next }}" />
  {% endif %}
</form>
