{% comment %}
Template to display a form field using styling from the form and pure-css.
Designed to be called from _form.html

Parameters that can be passed (in the with clause of an include) are:

aligned: Boolean variable aligned displays field on the same line after the
         label if not fields are displayed on the next line

input_type: Currently only used to change the layout of a checkbox. when the
         value is checkbox the field is displayed before the label and the
         aligned parameter is ignored. Potentially other values could be
         used to control the behavior of other field types.

{% endcomment %}
<div class="pure-control-group">
  {% if field_type == 'checkbox' %}
    {{ field }}
  {% endif %}
  {% if field.label %}
    <strong>
      <label for='{{ field.id_for_label }}'>
        {{ field.label }}{% if field.help_text %}{% if field_type == 'checkbox' or not aligned %} - {{ field.help_text|safe }}{% endif %}{% endif %}{% if field_type != 'checkbox'  and field.label != " " %}:{% endif %}
      </label>
    </strong>
  {% endif %}
  {% if aligned and not field_type == 'checkbox' %}
    {{ field }}
    <div class="help-text">{{ field.help_text }}</div>
  {% endif %}
  {% for error in field.errors %}
    <span class="errorlist"><mark>{{ error }}</mark></span>
    {% if not aligned and not field_type == 'checkbox' %}
      <br>
    {% endif %}
  {% endfor %}
  {% if not aligned and not field_type == 'checkbox' %}
    {{ field }}
  {% endif %}
</div>
