{% extends 'dash/base.html' %}

{% load static %}

{% block sub_title %}
  Example app
{% endblock sub_title %}

{% block sub_heading %}
  Example app
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <!-- menu includes go here -->
          <li class="pure-menu-item">
            <a href="{% url 'project.dash'%}?next={{ request.get_full_path|urlencode }}" class="pure-menu-link">
              <i class="fa fa-dashboard"></i>
              Dashboard
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
