#filedrop-zone,
#filedrop-1-zone,
#filedrop-2-zone,
#filedrop-3-zone {
    height: 110px;
    border: 2px dashed rgba(31,141,214,1);
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    position: relative;
    line-height: 60px;
    font-size: 1em;
    color: rgba(119, 119, 119, 1);
    cursor: copy;
}

#filedrop-zone input,
#filedrop-1-zone input,
#filedrop-2-zone input,
#filedrop-3-zone input {
    position: absolute;
    cursor: pointer;
    left: 0px;
    top: 0px;
    opacity:0;
}

#filedrop-zone.mouse-over,
#filedrop-1-zone.mouse-over,
#filedrop-2-zone.mouse-over,
#filedrop-3-zone.mouse-over {
    border: 2px solid rgba(0,0,0,.5);
    color: rgba(0,0,0,.5);
}

.filedrop-click-here {
    position: absolute;
    cursor: pointer;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    line-height: normal;
    width: auto;
    padding: 0.5em 1em;
    min-width: 100px;
    height: 20px;
    border-radius: 4px;
    color: white;
    background-color: rgba(0, 120, 231, 1);
    font-size: 1em;
}

.filedrop-click-here:hover,
#filedrop-1-click-here:hover,
#filedrop-2-click-here:hover,
#filedrop-3-click-here:hover {
    background-color: #4499DD;
}
