html, body {
    height: 100%;
}

.is-hidden {
    display: none;
}

.images-modal {
    display: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2000;

}

.carousel {
    position: relative;
    height: 90%;
    width: 80%;
    margin: 40px auto 0;
}

.carousel-image {
    width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.carousel-track-container {
    /* background: lightgreen; */
    height: 100%;
    position: relative;
    overflow: hidden;
}

.carousel-track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}

.carousel-slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;

}

.carousel-button {
    position: absolute;
    font-size: 3rem;
    padding: 0 1rem;
    background: transparent;
    cursor: pointer;
    background-color: white;
    border: 0;
    border-radius: 50%;
}

.carousel-button:hover {
    background: rgba(255, 255, 255, 0.7);
}

.carousel-button-close {
    top: 30px;
    right: 30px;
}

.carousel-button-left {
    top: 50%;
    transform: translateY(-50%);
    left: -35px;
}
.carousel-button-right {
    top: 50%;
    transform: translateY(-50%);
    right: -35px;
}

.carousel-indicators {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.carousel-indicator {
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: rgba(0, 0, 0, 0.3);
    margin: 0 12px;
    cursor: pointer;
}

.carousel-indicator.current-slide {
    background: rgba(0, 0, 0, 0.7);
}

