{% load static %}
<script src="{% static 'vendor/js/chosen/chosen.jquery.min.js' %}" type="text/javascript"></script>
<link rel="stylesheet" href="{% static 'vendor/css/chosen/chosen.css' %}">
<script type="text/javascript">
  $(".chosen-select").chosen()
</script>
