{% load static %}
<script src="{% static 'vendor/js/ckeditor/ckeditor.js' %}" type="text/javascript"></script>
<script type="text/javascript">
  if (document.getElementById("{% if id_textarea %}{{ id_textarea }}{% else %}id_description{% endif %}")) {
    CKEDITOR.replace(
      '{% if id_textarea %}{{ id_textarea }}{% else %}id_description{% endif %}', {
        customConfig: '{% static "base/js/ckeditor/config_colortext.js" %}'
      })
  };
</script>
