{% load static %}
{% comment %}
  to display the chart you need to specify the size of the chart in css
  e.g. 
    {{ chartdata.container }} svg { width:600px;height:400px; }
{% endcomment %}
    <div id="{{ chartdata.container }}"><svg></svg></div>
    <script src="{% static 'vendor/js/nvd3/d3.min.js' %}"></script>
    <script src="{% static 'vendor/js/nvd3/nv.d3.min.js' %}"></script>
    <script>
        data_courses_chart=[
            {"key": "{{ chartdata.legend }}", "yAxis": "1", "values": [
                {% for data in chartdata.data %}
                    {"x": {{ data.x }}, "y": {{ data.y }} },
                {% endfor %}
            ]
            }];

        nv.addGraph(function() {
            var chart = nv.models.multiBarChart();

            chart.margin({top: 30, right: 60, bottom: 20, left: 60});

            var datum = data_courses_chart;

            chart.color(d3.scale.category20().range());

            chart.xAxis.tickFormat(function(d) {
                return d3.time.format('{{ chartdata.date_format }}')(new Date(parseInt(d)))
            });
            chart.yAxis.tickFormat(d3.format(',d'));

            chart.tooltip.contentGenerator(function (chart) {
                // if (console) console.log(data);
                var x = d3.time.format('{{ chartdata.date_format }}')(new Date(chart.data.x));
                var y = String(chart.data.y);
                if(chart.data.key == '{{ chartdata.legend }}'){
                    var y =  String(chart.data.y) ;
                }

                tooltip_str = '<center><b>'+chart.data.key+'</b></center>' + y + ' in ' + x;
                return tooltip_str;
            });
            chart.showLegend(true);
            d3.select('#{{ chartdata.container }} svg')
                .datum(datum)
                .transition().duration(500)
                .attr('height', 450)
                .call(chart);
                // was before call - .attr('height', 450)
        });
    </script>
