{% load static %}
<div id="images-modal" class="images-modal">
    <button class="carousel-button carousel-button-close">&times;</button>
    <div id="carousel" class="carousel">
        <button class="carousel-button carousel-button-left is-hidden">
            &lt; <!--img src="images/left.svg" alt=""-->
        </button>
        <div class="carousel-track-container">
            <ul id="carousel-track" class="carousel-track"></ul>
        </div>
        <button class="carousel-button carousel-button-right">
            &gt; <!--img src="images/right.svg" alt=""-->
        </button>
        <div id="carousel-indicators" class="carousel-indicators"></div>
    </div>
</div>
<script src="{% static 'base/js/modal-carousel.js' %}"></script>
