{% comment %}
Display a progress bar - requires:

* completed : number of items completed

* total : total number of items

Optional parameters:

* image: an image usually a single colour image 20px x 20px (default: base/img/progress-bar.png)

* label: a label to display in front of the progress bar (default: no label)

{% endcomment %}

{% load static %}
<div class="progress-status">
  <div class="progress-label">{% if label %}{{ label }}:{% endif %}</div>
  <div class="progress-bar-outer">
    {% if image %}
    <img class=progress-bar" src="{% static image %}" width="{% widthratio completed total 100 %}%" height="20">
    {% else %}
    <img class=progress-bar" src="{% static 'base/img/progress-bar.png' %}" width="{% widthratio completed total 100 %}%" height="20">
    {% endif %}
  </div>
</div>
