<!doctype html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% block title %}
        This is the base template (please add a 'title' block)
      {% endblock title %}
      {% block sub_title %}
        This is the base template (please add a 'sub_title' block)
      {% endblock sub_title %}
    </title>
    <link rel="shortcut icon" href="{% static 'ico/favicon.ico' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'ico/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'ico/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'ico/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'ico/manifest.json' %}">
    <link rel="mask-icon" href="{% static 'ico/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-config" content="{% static 'ico/browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">
    {% block meta_extra %}
    {% endblock meta_extra %}
    {% block stylesheets %}
      <link rel="stylesheet" href="{% static 'vendor/css/pure/pure-min.0.6.0.css' %}">
      <!--[if lte IE 8]>
        <link rel="stylesheet" href="{% static 'vendor/css/pure/grids-responsive-old-ie-min.0.6.0.css' %}">
        <link rel="stylesheet" href="{% static 'vendor/css/pure/side-menu-old-ie.0.6.0.css' %}">
      <![endif]-->
      <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="{% static 'vendor/css/pure/grids-responsive-min.0.6.0.css' %}">
        {% block pure_side_menu %}
        <link rel="stylesheet" href="{% static 'vendor/css/pure/side-menu.0.6.0.css' %}">
        {% endblock pure_side_menu %}
      <!--<![endif]-->
      <link rel="stylesheet" type="text/css" href="{% static 'base/css/filedrop.css' %}">
      <link rel="stylesheet" href="{% static 'vendor/css/zebra_datepicker/metallic/zebra_datepicker.min.css' %}" type="text/css">
      <!-- photoswipe -->
      <link rel="stylesheet" href="{% static 'vendor/css/photoswipe/photoswipe.css' %}" type="text/css">
      <link rel="stylesheet" href="{% static 'vendor/css/photoswipe/default-skin/default-skin.css' %}" type="text/css">
      <link rel="stylesheet" href="{% static 'vendor/css/font-awesome/css/font-awesome.min.css' %}">
      {# <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'> #}
      <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
    {% endblock stylesheets %}
    {% block stylesheets_extra %}
    {% endblock stylesheets_extra %}
  </head>
  <body>
    {% block analytics %}
    {% endblock analytics %}
    {% block tag %}
    {% endblock tag %}
    <div id="layout">
      <!-- Menu toggle -->
      <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
      </a>
      <div id="menu">
        <div class="pure-menu">
          {% block homelink %}<a class="pure-menu-heading" href="{% url 'project.home' %}">Home</a>{% endblock homelink %}

          <ul class="pure-menu-list">
            {% block menu %}
              {% block menu_dash %}
              {% endblock menu_dash %}
              {% block menu_extra %}
              {% endblock menu_extra %}
              {% if user.is_authenticated %}
                <li class="pure-menu-item{% if path == '/dash/' %} pure-menu-selected{% endif %}">
                  <a href="{% url 'project.dash' %}" class="pure-menu-link">
                    <i class="fa fa-dashboard fa-fw"></i>
                    Dashboard
                  </a>
                </li>
                {% if user.is_staff %}
                  <li class="pure-menu-item{% if 'settings' in path %} pure-menu-selected{% endif %}">
                    <a href="{% url 'project.settings' %}" class="pure-menu-link">
                      <i class="fa fa-cog fa-fw"></i>
                      Settings
                    </a>
                  </li>
                {% endif %}
              {% endif %}
            {% endblock menu %}
            {% block menu_authentication %}
              {% if user.is_authenticated %}
                <li class="pure-menu-item">
                  <a class="pure-menu-link" href="{% url 'logout' %}">
                    <i class="fa fa-sign-out fa-fw"></i>
                    Logout
                  </a>
                </li>
              {% else %}
                <li class="pure-menu-item{% if 'login' in path %} pure-menu-selected{% endif %}">
                  <a class="pure-menu-link" href="{% url 'login' %}">Login</a>
                </li>
              {% endif %}
            {% endblock menu_authentication %}
          </ul>
        </div>
        {% block menu_footer %}
        {% endblock menu_footer %}
      </div>
      {% block top %}
      {% endblock top %}
      {% if testing %}
        <div class="testing">
          <div class="pure-g">
            <div class="pure-u-1">
              Testing
            </div>
          </div>
        </div>
      {% endif %}
      {% block noheader %}
      <div>
        {% block header %}
          <div class="header">
            <h1>
              {% block heading %}
                This is the base template (please add a 'heading' block)
              {% endblock heading %}
            </h1>
            <h2>
              {% block sub_heading %}
                This is the base template (please add a 'sub_heading' block)
              {% endblock sub_heading %}
            </h2>
            {% if messages %}
              <div>
                {% for message in messages %}
                  <p class="message-{{ message.tags }}">
                    {{ message }}
                  </p>
                {% endfor %}
              </div>
            {% endif %}
          </div>
        {% endblock header %}
      </div>
      {% endblock noheader %}
      <div class="content">
        {% block content %}
          <p>This is the base template (please add a 'content' block)</p>
        {% endblock content %}
      </div>
      {% block footer %}
        <div class="pure-g">
          <div class="pure-u-1">
            <p>This is the base template (please add a 'footer' block)</p>
          </div>
        </div>
      {% endblock footer %}
    </div>
    {% block script %}
      <!--[if lt IE 9]>
        <script src="{% static 'vendor/js/html5shiv/html5shiv.js' %}"></script>
      <![endif]-->
      <script src="{% static 'vendor/js/jquery-3.5.1.min.js' %}"></script>
      <script src="{% static 'vendor/js/jquery.autocomplete.min.js' %}"></script>
      <script src="{% static 'vendor/js/pure/ui.0.6.0.js' %}"></script>
      <script src="{% static 'vendor/js/zebra_datepicker.min.js' %}"></script>
      <script src="{% static 'vendor/js/photoswipe/photoswipe.min.js' %}"></script>
      <script src="{% static 'vendor/js/photoswipe/photoswipe-ui-default.min.js' %}"></script>
      <script src="{% static 'base/js/filedrop.js' %}"></script>
      <script src="{% static 'base/js/date-picker.js' %}"></script>
    {% endblock script %}
    {% block script_extra %}
    {% endblock script_extra %}
  </body>
</html>
