{% load static %}
<!doctype html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% block title %}
        This is the base print template (please add a 'title' block)
      {% endblock title %}
      {% block sub_title %}
        This is the base print template (please add a 'sub_title' block)
      {% endblock sub_title %}
    </title>
    <link rel="shortcut icon" href="{% static 'ico/favicon.ico' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'ico/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'ico/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'ico/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'ico/manifest.json' %}">
    <link rel="mask-icon" href="{% static 'ico/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-config" content="{% static 'ico/browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">
    {% block meta_extra %}
    {% endblock meta_extra %}
    {% block stylesheets %}
      <link rel="stylesheet" href="{% static 'vendor/css/pure/pure-min.0.6.0.css' %}">
      <!--[if lte IE 8]>
        <link rel="stylesheet" href="{% static 'vendor/css/pure/grids-responsive-old-ie-min.0.6.0.css' %}">
        <link rel="stylesheet" href="{% static 'vendor/css/pure/side-menu-old-ie.0.6.0.css' %}">
      <![endif]-->
      <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="{% static 'vendor/css/pure/grids-responsive-min.0.6.0.css' %}">
      <!--<![endif]-->
      <link rel="stylesheet" href="{% static 'vendor/css/font-awesome/css/font-awesome.min.css' %}">
      <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
      <style>
        {# remove border and add bottom border for printing #}
        thead th { background-color: white; border-bottom: 1px solid #cbcbcb!important; }
      </style>
    {% endblock stylesheets %}
    {% block stylesheets_extra %}
    {% endblock stylesheets_extra %}
  </head>
  <body>
      <div>
        {% block header %}
          <div class="header">
            <h1>
              {% block heading %}
                This is the base print template (please add a 'heading' block)
              {% endblock heading %}
            </h1>
            <h2>
              {% block sub_heading %}
                This is the base print template (please add a 'sub_heading' block)
              {% endblock sub_heading %}
            </h2>
          </div>
        {% endblock header %}
      </div>
      <div class="content">
        {% block content %}
          <p>This is the base print template (please add a 'content' block)</p>
        {% endblock content %}
      </div>
      {% block footer %}
      {% endblock footer %}
    </div>
    {% block script %}
      <!--[if lt IE 9]>
        <script src="{% static 'vendor/js/html5shiv/html5shiv.js' %}"></script>
      <![endif]-->
      <script src="{% static 'vendor/js/jquery-1.11.0.min.js' %}" type="text/javascript"></script>
    {% endblock script %}
    {% block script_extra %}
    {% endblock script_extra %}
  </body>
</html>
