{% extends 'dash/base.html' %}

{% load static %}

{% block sub_title %}
  Dashboard - filedrop demo
{% endblock sub_title %}

{% block sub_heading %}
  Dashboard - filedrop demo
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      {% include '_form.html' with form_class='kb-hide-bullet' multipart=True %}
    </div>
  </div>
  <style>
    #doc-list span {display: inline-block;}
    .id-col { width: 5%;}
    .file-col { width: 30%;}
    .img-col { width: 20%;}
    .desc-col { width: 20%;}
    .img-thumb {max-width: 100%; height: 20px;}
  </style>

  <div id="doc-list">
    <h4>Previously Uploaded</h4>
    <p>
      <span class="id-col">Id</span>
      <span class="file-col">File</span>
      <span class="img-col">Preview</span>
      <span class="img-col">Thumbnail</span>
      <span class="desc-col">Description</span>
    </p>
    {% for document in document_list %}
    <p>
      <span class="id-col">{{document.id}}</span>
      <span class="file-col">
        <a href="{{ document.file.url}}" target="_blank">
          {{ document.filename }}
        </a>
      </span>
      <span class="img-col">
        {% if document.preview %}
        <img src="{{ document.preview.url }}" class="img-thumb">
        {% else %}
          &nbsp;
        {% endif %}
      </span>
      <span class="img-col">
        {% if document.is_image %}
          <img src="{{ document.file.url }}" class="img-thumb">
        {% else %}
          &nbsp;
        {% endif %}
      </span>
      <span class="desc-col">{{ document.description }}</span>
    </p>
    {% endfor %}
  </div>

{% endblock content %}
